#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	// margin-top: rem-calc(60);

	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		&:empty {
			display: none;
			padding: 0;
		}

		.widget {
			display: flex;
			justify-content: center;
 			align-items: center;
		}

		&[data-count="1"] .widget {
			width: 100% !important;
		}

		&[data-count="2"] .widget {
			@include grid-column(6);
		}

		&[data-count="3"] .widget {
			@include grid-column(4);
		}

		&[data-count="4"] .widget {
			@include grid-column(3);
		}

		@include breakpoint(small only){
			.widget { width: 100% !important; }
		}

		@include breakpoint(medium only){
			.widget { width: 50% !important; }
		}
	}

	.copyright {
		text-align: center;
		padding: rem-calc(10) 0;
	}
}
