/*
 * CUSTOM Global styles & Foundation overrides
 */

// Typography
p:empty { margin-bottom: 0; }
.entry-content, .panel-content {
	p:last-of-type {
		margin-bottom: 0;
	}
}

// Global Container
section.container {

	@include breakpoint(small) {
		.main-content, .post-item {
			padding: rem-calc(10);
		}
	}

	@include breakpoint(medium) {
		.main-content, .post-item {
			padding: rem-calc(15);
		}
	}
}

// List overrides
.blocklist, .inlinelist {
	list-style: none;
	margin-left: 0;
}

// Default ACF maps
.acf-map {
	background-color: $light-gray;
	border: $light-gray solid 1px;
	height: 400px;
	margin: 0;
	width: 100%;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}