/*
 * CUSTOM Global/Foundation overrides
 */

// Typography
p:empty { margin-bottom: 0; }
.entry-content, .panel-content {
	p:last-of-type {
		margin-bottom: 0;
	}
}

// Global
section.container {

	@include breakpoint(small) {
		.main-content, .grid {
			padding-left: rem-calc(15);
			padding-right: rem-calc(15);
		}
	}

	@include breakpoint(medium) {
		.main-content, .grid {
			padding-left: rem-calc(15);
			padding-right: rem-calc(15);
		}
	}
}