/// Default page header height
/// @type Number
$hero-height: 70vh;
$hero-height-medium: 50vh;
$hero-height-small: 100vh;

.page-header {

	height: $hero-height;
	margin: 0 auto;
	position: relative;
	text-align: center;
	z-index: 0;

	.hero-content {

		// background-color: none;
		max-width: $global-width;
		margin: 0 auto;
		padding: rem-calc(0 15);
		position: relative;
		width: 100%;
		z-index: 3;

		// for absolute
		left: 0; right: 0;

		.heading {
			font-size: rem-calc(52);
			margin-bottom: 0;

			// + .subheading { margin-top: rem-calc(15); }
			+ .links { margin-top: rem-calc(30); }
			+ .video-popup { margin-top: rem-calc(30); }
		}

		.subheading {
			margin-bottom: 0;
			+ .description { margin-top: rem-calc(15); }
			+ .links { margin-top: rem-calc(30); }
			+ .video-popup { margin-top: rem-calc(30); }
		}

		.description {
			margin-bottom: 0;
			+ .links { margin-top: rem-calc(15); }
			+ .video-popup { margin-top: rem-calc(30); }
		}

		.links {
			margin-bottom: 0;

			.link {
				display: inline;
				margin: rem-calc(0 5);
			}
		}

		.video-popup {
			display: inline-block;
			color: $white;
		}

		&.has-img {
			color: $white;
		}

		&.has-video {
			color: $white;
		}

		@include vertical-center;
	}

	.hero-media {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;

		@include bg-cover;
	}

	.hero-border {
		background-color: $white;
		bottom: rem-calc(30);
		clear: both;
		display: block;
		height: rem-calc(30);
		position: relative;

		// border-image-source: url(border.svg);

		@include clearfix;
	}

	.hero-details {
		max-width: $global-width;
		margin: 0 auto;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
	}

	// Header Overlay
		.hero-overlay {
			background-color: rgba($black, .1);
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			z-index: 2;
		}

		&[data-overlay="default"] {
			.hero-overlay { background-color: rgba($black, .3); }
		}
		&[data-overlay="light"] {
			.hero-overlay { background-color: rgba($white, .3); }
			.hero-content { color: $black; }

			[data-overlay-type="vertical"] {
				background: -moz-linear-gradient(top, rgba(255,255,255,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
			}
			[data-overlay-type="horizontal"] {
				background: -moz-linear-gradient(left, rgba(255,255,255,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */		}
			[data-overlay-type="radial"] {
				background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: radial-gradient(ellipse at center, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */		}
		}
		&[data-overlay="medium"] {
			.hero-overlay { background-color: rgba($black, .6); }

			[data-overlay-type="vertical"] {
				background: -moz-linear-gradient(top, rgba(140,140,140,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(140,140,140,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(140,140,140,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a68c8c8c', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
			}
			[data-overlay-type="horizontal"] {
				background: -moz-linear-gradient(left, rgba(140,140,140,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(140,140,140,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, rgba(140,140,140,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a68c8c8c', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
			}
			[data-overlay-type="radial"] {
				background: -moz-linear-gradient(left, rgba(140,140,140,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(140,140,140,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, rgba(140,140,140,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a68c8c8c', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
			}
		}
		&[data-overlay="dark"] {
			.hero-overlay { background-color: rgba($black, .8); }
			.hero-content { color: $white; }

			[data-overlay-type="vertical"] {
				background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
			}
			[data-overlay-type="horizontal"] {
				background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#80000000',GradientType=1 ); /* IE6-9 */
			}
			[data-overlay-type="radial"] {
				background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
				background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
				background: radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#80000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			}
		}

	// Header Image
		&.image {
			.bgimg {
				display: block;
				height: 100%;
				width: 100%;
				@include bg-cover;
			}
		}

	// Header Video
		&.gallery {
			#bgndVideo {
				background-color: $black;
				height: 100%;
				width: 100%;

				.mb_YTPBar .buttonBar { display: none; }
			}
		}

	// Header Gallery
		&.gallery {
			.orbit-container {
				height: $hero-height !important;

				@include breakpoint(small only){
					height: $hero-height-small;
					height: calc(#{$hero-height-small} - #{$header-height});
				}

				@include breakpoint(medium only){
					height: $hero-height-medium;
					height: calc(#{$hero-height-medium} - #{$header-height});
				}
			}
			.hero-content { color: $white; }
		}

	// Header Slider (from post tyoe)
		&.slider {
			.orbit-container,
			.orbit-slide {
				height: $hero-height !important;

				@include breakpoint(small only){
					height: $hero-height-small;
					height: calc(#{$hero-height-small} - #{$header-height});
				}

				@include breakpoint(medium only){
					height: $hero-height-medium;
					height: calc(#{$hero-height-medium} - #{$header-height});
				}
			}
			.hero-content { color: $white; }
		}

	// Header Map
		&.map {
			.hero-map {
				height: $hero-height !important;

				@include breakpoint(small only){
					height: $hero-height-small;
					height: calc(#{$hero-height-small} - #{$header-height});
				}

				@include breakpoint(medium only){
					height: $hero-height-medium;
					height: calc(#{$hero-height-medium} - #{$header-height});
				}

				@include bg-cover;
			}
			.contact-details {
				background-color: $light-gray;
				display: block;
				max-width: 30rem;
				min-width: 300px;
				padding: rem-calc(30 40);
				position: absolute;
				top: 20%; right: 0;
				text-align: left;
				z-index: 3;

				p:last-of-type { margin-bottom: 0; }

				.address {
					max-height: 100px;
					overflow: hidden;
					padding-left: rem-calc(30);

					.fa {
						display: block;
						float: left;
						margin-left: -(rem-calc(30));
						margin-top: rem-calc(5);
					}
				}

				.fa-fw { width: rem-calc(25);  }

				@include vertical-center;
			}

			&[data-map="detail"] {
				.hero-content  {
					padding-right: 500px;
				}
			}
		}

	@include breakpoint(small only){
		height: $hero-height-small;
		height: calc(#{$hero-height-small} - #{$header-height});
	}

	@include breakpoint(medium only){
		height: $hero-height-medium;
		height: calc(#{$hero-height-medium} - #{$header-height});
	}

}

#video-popup-modal {

	.is-reveal-open & {
		display: block;
		opacity: 1;
	}

	display: none;
	opacity: 0;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	text-align: center;

	.iframe {

		display: block;
		margin: 10% auto;
		max-width: 900px;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
	}

	iframe {}

	.close-button {
		right: 2rem;
		top: 3.5rem;
	}
}